.logo{
    justify-content: center;
    width: 100px;
    display: flex;
}

.carrito {
    width: 20px;
}

.categorías{
    display: flex;
    justify-content: center;
}

button {
    color: rgb(252, 152, 168);
    background-color: white;
    border: rgb(252, 152, 168);
    border-style:double;
 }

 .crear-iniciar-carrito {
   display: flex;
   justify-content: right;
 }

 .titulo-categorías {
    text-align: center;
    color: rgb(252, 152, 168);
    font-family: 'Playfair Display', serif;
 }

 .cabecera{
   display: flex;
   justify-content: center;
 }


 .form{
    text-align: center;
    color: rgb(252, 152, 168);
 }

 body{
   text-align: center;
 }
 
.pie{
   display: flex;
   justify-content: center;
}

@media (max-width: 300px) {
   body{
      background-color: pink;
   }  
   
   .flex-items{
      display: flex;
      flex-direction: column;
   }
}

